.second-nav-container {
  background-color: var(--brand-primary);
  display: flex;
  padding: 0 64px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .second-nav-container {
    padding: 0 32px;
  }
}

@media (max-width: 375px) {
  .second-nav-container {
    padding: 0 16px;
  }
}

.nav-item {
  color: var(--bg-base);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.2s;
}

.nav-item .icon {
  color: var(--bg-base);
}

.nav-item:hover {
  background-color: var(--ui-sidebar);

}

.nav-item .caption {
  color: var(--bg-base);
}
