.second-nav-container {
  background-color: var(--brand-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: var(--bg-base);
  top: var(--top-nav-height);
  width: 100%;
}

.nav-item {
  color: var(--bg-base);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.2s;
}

.nav-item .icon {
  color: var(--bg-base);
}

.nav-item:hover {
  background-color: var(--ui-sidebar);

}
