.side-nav-container {
  background-color: var(--brand-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--bg-base);
  height: calc(100dvh - var(--top-nav-height));
  position: fixed;
  left: 0;
  top: var(--top-nav-height);
  width: 250px;
}

.nav-item {
  color: var(--bg-base);
  width: 100%;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.2s;
  border: 1px red solid;
}

.nav-item:hover {
  background-color: var(--ui-sidebar);

}
