.side-nav-container {
  background-color: var(--ui-sidebar);
  display: flex;
  flex-direction: column;
  color: var(--bg-base);
  justify-content: space-evenly;
  border: solid red 1px;

}

.nav-item {
  color: var(--bg-base);
}
