.title-container {
	display: inline-flex;
	align-items: center;
	gap: 20px;
	padding: 0;
	width: auto;
	white-space: nowrap; /* keep the two items on one line */
	
}

.flowboard-icon {
	width: auto;
	height: 68px;
}