.forgot-password {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-align: start;
	gap: 16px;
}

.forgot-password h2, .forgot-password p {
	align-self: flex-start;

}

.forgot-password h2 {
	margin-bottom: 0;
  	color: var(--text-primary);
}

