.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.registration h2, .registration p {
  align-self: flex-start;
}

.registration h2 {
  margin-bottom: 0;
  color: var(--text-primary);
}
