.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.registration h2 {
  align-self: flex-start;
}

.btn-primary{
  background:var(--brand-accent);
  color:white;
  padding:10px 14px;
  border-radius:8px;
  text-decoration:none;
}

div {
  /* border: 1px solid; */
}
