:root {
  /* Backgrounds */
  --bg-base: #F2F4F8;         /* main page background */
  --bg-surface: #E3E7EF;      /* cards, panels, surfaces */

  /* Brand & Primary */
  --brand-primary: #4E7ADB;   /* main identity color */
  --brand-accent: #3D6CF5;    /* CTA, emphasis, strong buttons */

  /* UI Structure */
  --ui-sidebar: #344C8A;      /* sidebar, nav, headers */

  /* Status Colors */
  --status-success: #54D1B2;
  --status-warning: #FFC663;

  /* Text */
  --text-primary: #1C2331;    /* main readable text */
  --text-muted: #6A7489;      /* secondary text */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main {
  background-color: var(--bg-base);
}

/* Page Title */
h1 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
