.style-guide .section {
	margin-bottom: 50px;
}

.code-block {
	background-color: var(--bg-surface);
	padding: 20px;
	border-radius: 8px;
}

.color-palette {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 30px;
	margin-top: 20px;
}

.color-swatch {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.color-swatch .color {
	width: 100%;
	height: 120px;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.color-swatch p {
	margin: 0;
	text-align: center;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	gap: 30px;
}

.button-example {
	display: flex;
	flex-direction: column;
	max-width: 500px;
}

.button-example p {
	margin-bottom: auto;
}

.button-example .caption {
	margin-top: 0;
}

.style-guide .typography-section .tagline {
	margin-top: 1em;
}

.style-guide .typography-section .typography-example {
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.style-guide {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

.style-guide-nav {
	width: 250px;
	flex-shrink: 0;
	align-items: flex-start;
	position: sticky;
	top: 20px;
	align-self: flex-start;
}

.style-guide-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
  	font-size: clamp(14px, 2vw, 20px);

}

.style-guide-nav li {
	margin-bottom: 10px;
}

.style-guide-nav a {
	text-decoration: none;
	color: var(--text-primary);
	transition: color 0.3s ease;
}

.style-guide-nav a:hover {
	color: var(--brand-accent);
}
